<div class = "pink">
    <h1 id="unique_title">{{title}}/h1>
    <img id ="jen-img" src={{imgURL}} alt="pinkFlicker Artist Picture">

    <div id ="testing">
        <p> Click on the picture to learn more about Pink Flicker!</p>
    </div>
    
    <div id="lists">
    <p>Click the button below for more info! </p>

    </div>

</div>



    <h3>Follow Pink Flicker</h3>
    <a href="https://open.spotify.com/artist/6DKu0HLziQM6SWK3FR0Bvo?si=GJc2tAWQRaO3ymu_gBcQMQ&nd=1"><img src="spotify.png" class="logo" alt="Spotify Green Logo" style="width:50px; height:50px"></a>

    <a href="https://music.amazon.com/artists/B0BQ34VM97/pink-flicker?marketplaceId=ATVPDKIKX0DER&musicTerritory=US&ref=dm_sh_428FmNon2E9vkddexfPgkAIYY"><img src="amazon.png" class="logo" alt="Amazon Music Logo" style="width:70px; height:50px"></a>

    <a href="https://music.apple.com/us/artist/pink-flicker/1659787818"><img src="apple.png" class="logo" alt="Apple Music Logo" style="width:50px; height:50px"></a>


<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>


<script>
    window.jQuery || document.write('script src="jquery-3.6.3.min.js"><\/script')
</script>
<script src="jen.js"></script>
<script src="pinkhtml.js"></script>
